<div class="doc">
    <div class="doc__title">
        <h3 class="h h--3">{{doc_title}}</h3>
    </div>
    <div class="doc__code">
        <pre class="code-sample"><code class="typescript">{{doc_code}}</code></pre>
    </div>
    <div class="doc__description">
        <p class="p">
            {{doc_description}}
        </p>
    </div>
</div>
